.midground {
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  background-color: rgba(0,0,0,0.7);
  padding: 3rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  background: linear-gradient(to top,white, white);
  background-size: 25% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  transition: background-position 0.5s, background-size 0.5s;
}

.navSlideHome {
  background-position: 0%;
  background-size: 25% 100%;
}
.navSlidePrices {
  background-position: 30%;
  background-size: 25% 100%;
}
.navSlideTOS {
  background-position: 100%;
  background-size: 50% 100%;
}

.title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.logo{
  border-radius: 100%;
}

.social {
  margin-top: 0.8rem;
}

.instagram {
  margin-right: 4px;
}

.navText {
  color: var(--faded-white);
}

.navLine {
  background-color: var(--faded-white);
  height: 1px;
  width: 100%;
}

.homeText {
  margin: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.pricesText {
  margin: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.tosText {
  margin: 0.3rem 0.5rem 0.3rem 0.5rem;
}