.midground {
  margin-bottom: 1rem;
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 1s, height 1s, transform 1s;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  max-width: calc(100vw - 1rem);
  min-width: calc(260px - 1rem);
}
.box {
  background-color: rgba(0,0,0,0.7);
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: calc(100% - 140px);
  top: 140px;
}

.nav {
  z-index: 1;
  background: linear-gradient(to top,white, white);
  background-repeat: no-repeat;
  background-clip: text;
  transition: background-position 0.5s, background-size 0.5s;
  width: 100%;
  padding-bottom: 1rem;
  /* white-space: nowrap; */

}

.navTextWrapper {
  color: var(--faded-white);
  z-index: 1;
}

.navLine {
  background-color: var(--faded-white);
  height: 1px;
  width: 100%;
  z-index: 1;
}
.navBox {
  height: 3px;
  background-color: white;
  position: relative;
  top: -1px;
  transition: left 0.5s, width 0.5s;
  z-index: 1;
}
.navText {
  margin: 0.5rem 1.2rem 0.5rem 1.2rem;
  z-index: 1;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 1s, opacity 1s, margin 1s;
  line-height: 40px;
}

.logo{
  border-radius: 100%;
}

.social {
  margin-top: 1rem;
  /* transform: scale(1.2); */
  display: flex;
  flex-direction: row;
  height: fit-content;
  transform: scale(1.1)
}
.instagramWrapper {
  display: flex;
  height: fit-content;
  padding: 7px 7px 7px 7px;
  border-radius: 2px;
  transition: background-color 0.5s;
  border-radius: 100%;
  transform: translateY(-5px);
}
.instagramWrapper:hover {
  background-color: white;
}
.instagramWrapper:hover .instagram {
  fill: url(#paint0_linear_246_103);
}
.instagram {
  fill: rgba(255,255,255,0.7);
  transition: fill 0.5s;
}

.twitterWrapper {
  display: flex;
  height: fit-content;
  padding: 7px 7px 7px 7px;
  transition: background-color 0.5s;
  margin: 0px 10px 0px 10px;
  border-radius: 100%;
}
.twitterWrapper:hover {
  background-color: white;
}
.twitterWrapper:hover .twitter {
  fill: #1DA1F2;
}
.twitter {
  fill: rgba(255,255,255,0.7);
  transition: fill 0.5s;
}


.deviantWrapper {
  display: flex;
  height: fit-content;
  padding: 7px 6px 7px 6px;
  border-radius: 2px;
  transition: background-color 0.5s;
  border-radius: 100%;
  transform: translateY(-5px);
}
.deviantWrapper:hover {
  background-color: white;
}
.deviantWrapper:hover .deviant {
  fill: #5ACF5F;
}
.deviant {
  fill: rgba(255,255,255,0.7);
  transition: fill 0.5s;
}

.homeIcon {
  margin: 0.5rem 1rem 0.5rem 1rem;
  z-index: 1;
}
.priceIcon {
  margin: 0.5rem 1rem 0.5rem 1rem;
  z-index: 1;
}
.tosIcon {
  margin: 0.5rem 1rem 0.5rem 1rem;
  z-index: 1;
}
.contentWrapper {
  z-index: 0;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .midground {
    padding: 1rem 2rem 1rem 2rem;
  }
  .social {
    transform: scale(1)
  }
  .box {
    height: calc(100% - 130px);
    top: 130px;
  }
}
@media screen and (max-width: 345) {

}
