.pricesWrapper {
  transition: height 1s, opacity 1s, width 1s;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.bustWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.thighWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* .priceImage {
  transition: width 0.5s;
} */

.imageWrapper {
  background-color: #2D1912;
  /* margin: 0px 10px 0px 0px; */
  height: fit-content;
  display: flex;
  margin: 5px;
  transition: transform 0.3s;
  cursor: pointer;
}
.imageWrapper:hover {
  transform: scale(1.1);
}
/* .priceImage:hover {
  width: 320px;
} */
@media screen {
  
}
